In [ ]:
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
!pip install dataframe_image 
import dataframe_image as dfi

Collecting dataframe_image
  Downloading https://files.pythonhosted.org/packages/75/ce/8b9f506ecf5b177471e0f04117565b6eaf83f13749deca3d3b35f52f9fd6/dataframe_image-0.1.1-py3-none-any.whl
Requirement already satisfied: nbconvert>=5 in /usr/local/lib/python3.7/dist-packages (from dataframe_image) (5.6.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from dataframe_image) (4.6.3)
Collecting aiohttp
  Downloading https://files.pythonhosted.org/packages/88/c0/5890b4c8b04a79b7360e8fe4490feb0bb3ab179743f199f0e6220cebd568/aiohttp-3.7.4.post0-cp37-cp37m-manylinux2014_x86_64.whl (1.3MB)
     |████████████████████████████████| 1.3MB 8.9MB/s
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from dataframe_image) (1.1.5)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from dataframe_image) (2.23.0)
Requirement already satisfied: matplotlib>=3.1 in /usr/local/lib/python3.7/dist-packages (from dataframe_image) (3.2.2)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from nbconvert>=5->dataframe_image) (3.3.0)
Requirement already satisfied: nbformat>=4.4 in /usr/local/lib/python3.7/dist-packages (from nbconvert>=5->dataframe_image) (5.1.2)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.7/dist-packages (from nbconvert>=5->dataframe_image) (0.3)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from nbconvert>=5->dataframe_image) (5.0.5)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert>=5->dataframe_image) (1.4.3)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert>=5->dataframe_image) (0.8.4)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert>=5->dataframe_image) (0.7.1)
Requirement already satisfied: jinja2>=2.4 in /usr/local/lib/python3.7/dist-packages (from nbconvert>=5->dataframe_image) (2.11.3)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from nbconvert>=5->dataframe_image) (2.6.1)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/dist-packages (from nbconvert>=5->dataframe_image) (0.4.4)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.7/dist-packages (from nbconvert>=5->dataframe_image) (4.7.1)
Collecting yarl<2.0,>=1.0
  Downloading https://files.pythonhosted.org/packages/f1/62/046834c5fc998c88ab2ef722f5d42122230a632212c8afa76418324f53ff/yarl-1.6.3-cp37-cp37m-manylinux2014_x86_64.whl (294kB)
     |████████████████████████████████| 296kB 49.7MB/s
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->dataframe_image) (20.3.0)
Collecting multidict<7.0,>=4.5
  Downloading https://files.pythonhosted.org/packages/7c/a6/4123b8165acbe773d1a8dc8e3f0d1edea16d29f7de018eda769abb56bd30/multidict-5.1.0-cp37-cp37m-manylinux2014_x86_64.whl (142kB)
     |████████████████████████████████| 143kB 46.0MB/s
Requirement already satisfied: chardet<5.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->dataframe_image) (3.0.4)
Requirement already satisfied: typing-extensions>=3.6.5 in /usr/local/lib/python3.7/dist-packages (from aiohttp->dataframe_image) (3.7.4.3)
Collecting async-timeout<4.0,>=3.0
  Downloading https://files.pythonhosted.org/packages/e1/1e/5a4441be21b0726c4464f3f23c8b19628372f606755a9d2e46c187e65ec4/async_timeout-3.0.1-py3-none-any.whl
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->dataframe_image) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->dataframe_image) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->dataframe_image) (1.19.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->dataframe_image) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->dataframe_image) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->dataframe_image) (2020.12.5)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1->dataframe_image) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1->dataframe_image) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1->dataframe_image) (2.4.7)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert>=5->dataframe_image) (20.9)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert>=5->dataframe_image) (1.15.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert>=5->dataframe_image) (0.5.1)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.4->nbconvert>=5->dataframe_image) (0.2.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.4->nbconvert>=5->dataframe_image) (2.6.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2>=2.4->nbconvert>=5->dataframe_image) (1.1.1)
Installing collected packages: multidict, yarl, async-timeout, aiohttp, dataframe-image
Successfully installed aiohttp-3.7.4.post0 async-timeout-3.0.1 dataframe-image-0.1.1 multidict-5.1.0 yarl-1.6.3

In [ ]:
hospitals = pd.read_csv(r"/content/Hospitals.csv")
hospital_ratings = pd.read_csv(r"/content/Hospital General Information.csv", encoding="ISO-8859-1")
public_schools = pd.read_csv(r"/content/Public_Schools.csv")
county_time_series = pd.read_csv(r"/content/County_time_series.csv")
crosswalk = pd.read_csv(r"/content/CountyCrossWalk_Zillow.csv")
unemployment = pd.read_csv(r"/content/GeoFRED_Unemployment_Rate_by_County_Percent.csv")
crime_rate= pd.read_csv(r"/content/crime_data_w_population_and_crime_rate.csv")

In [ ]:
unemployment.head()

    Series ID           Region Name  Region Code  2000  ...  2015  2016  2017  2018
0  SCABBE1URN  Abbeville County, SC        45001   3.8  ...   6.9   5.5   4.6   4.2
1  LAACAD0URN     Acadia Parish, LA        22001   5.8  ...   6.9   7.4   5.9   5.4
2  VAACCO1URN   Accomack County, VA        51001   3.0  ...   5.5   5.0   4.9   4.1
3  IDADAC1URN        Ada County, ID        16001   3.4  ...   3.7   3.3   2.8   2.4
4  OKADAI1URN      Adair County, OK        40001   3.5  ...   6.1   5.9   5.0   4.4

[5 rows x 22 columns]

In [ ]:
hospitals.head()

           X          Y  OBJECTID  ...   BEDS              TRAUMA        HELIPAD
0 -94.945477  29.747620      8497  ...  182.0       NOT AVAILABLE              Y
1 -82.881843  40.027143      8498  ...   50.0       NOT AVAILABLE  NOT AVAILABLE
2 -84.168027  39.774242      8499  ...  155.0  PEDIATRIC LEVEL II              Y
3 -80.632972  41.005169      8500  ...   45.0       NOT AVAILABLE  NOT AVAILABLE
4 -84.199398  39.747740      8501  ...   32.0       NOT AVAILABLE  NOT AVAILABLE

[5 rows x 34 columns]

In [ ]:
hospital_ratings.head(4)

   Provider ID  ... Efficient use of medical imaging national comparison footnote
0        10001  ...                                                NaN
1        10005  ...                                                NaN
2        10006  ...                                                NaN
3        10007  ...  Results are not available for this reporting p...

[4 rows x 28 columns]

In [ ]:
hospital_ratings = hospital_ratings[['Hospital Name', 'Hospital overall rating']]
hospital_ratings.dropna()
hospital_ratings.head()

                      Hospital Name Hospital overall rating
0  SOUTHEAST ALABAMA MEDICAL CENTER                       3
1     MARSHALL MEDICAL CENTER SOUTH                       3
2    ELIZA COFFEE MEMORIAL HOSPITAL                       2
3          MIZELL MEMORIAL HOSPITAL                       2
4       CRENSHAW COMMUNITY HOSPITAL                       3

In [ ]:
hospitals_with_ratings = pd.merge(hospitals, hospital_ratings, how='left', left_on='NAME', right_on='Hospital Name')

hospitals_with_ratings = hospitals_with_ratings.loc[hospitals_with_ratings['COUNTYFIPS'] != 'NOT AVAILABLE']

hospitals_with_ratings = hospitals_with_ratings.loc[~pd.isna(hospitals_with_ratings)['Hospital overall rating']]
hospitals_with_ratings = hospitals_with_ratings.loc[hospitals_with_ratings['Hospital overall rating'] != 'Not Available']
hospitals_with_ratings['Hospital overall rating'] = hospitals_with_ratings['Hospital overall rating'].astype("int64")

hospitals_with_ratings.rename(index=str, columns={"COUNTYFIPS": "FIPS", "Hospital overall rating": "AverageHospitalRating"}, inplace=True)

hospitals_with_ratings.head(2)

             X          Y  ...               Hospital Name  AverageHospitalRating
7  -101.294085  48.232226  ...           TRINITY HOSPITALS                      1
41  -78.855473  38.404787  ...  SENTARA RMH MEDICAL CENTER                      3

[2 rows x 36 columns]

In [ ]:
unemployment_per_county = unemployment.loc[:,("Region Code", "2018")]
unemployment_per_county.rename(index=str, columns={"Region Code": "FIPS", "2018": "UnemploymentRate"}, inplace=True)
unemployment_per_county["FIPS"] = unemployment_per_county["FIPS"].astype("int64")

unemployment_per_county.head()

    FIPS  UnemploymentRate
0  45001               4.2
1  22001               5.4
2  51001               4.1
3  16001               2.4
4  40001               4.4

In [ ]:
average_hospital_rating_per_county = hospitals_with_ratings[['FIPS', 'AverageHospitalRating']]

average_hospital_rating_per_county = average_hospital_rating_per_county.dropna()

average_hospital_rating_per_county = average_hospital_rating_per_county.groupby(['FIPS']).mean()
average_hospital_rating_per_county.reset_index(level=0, inplace=True)
average_hospital_rating_per_county["FIPS"] = average_hospital_rating_per_county["FIPS"].astype("int64")

average_hospital_rating_per_county.head()

    FIPS  AverageHospitalRating
0  10005                    3.5
1   1001                    4.0
2   1003                    3.0
3   1005                    3.0
4   1011                    3.0

In [ ]:
hospitals_per_county = hospitals['COUNTYFIPS'].value_counts().to_frame()
hospitals_per_county.reset_index(level=0, inplace=True)
hospitals_per_county.rename(index=str, columns={"index": "FIPS", "COUNTYFIPS": "NumberOfHospitals"}, inplace=True)
hospitals_per_county.dropna(inplace=True)
hospitals_per_county= hospitals_per_county[hospitals_per_county["FIPS"] != "NOT AVAILABLE"]
hospitals_per_county["FIPS"] = hospitals_per_county["FIPS"].astype("int64")

hospitals_per_county.head()

    FIPS  NumberOfHospitals
0   6037                131
1  48201                 93
2   4013                 73
3  17031                 73
4  48113                 58

In [ ]:
hospitals_per_county = hospitals_per_county.merge(average_hospital_rating_per_county, on="FIPS", how="left")
hospitals_per_county.head()

    FIPS  NumberOfHospitals  AverageHospitalRating
0   6037                131               2.775000
1  48201                 93               3.357143
2   4013                 73               3.047619
3  17031                 73               2.695652
4  48113                 58               3.222222

In [ ]:
county_time_series.head()

         Date  ...  Zri_SingleFamilyResidenceRental
0  1996-04-30  ...                              NaN
1  1996-04-30  ...                              NaN
2  1996-04-30  ...                              NaN
3  1996-04-30  ...                              NaN
4  1996-04-30  ...                              NaN

[5 rows x 82 columns]

In [ ]:
crosswalk.head()

  CountyName     StateName  StateFIPS  ...  MetroRegionID_Zillow   FIPS CBSACode
0       Pike  Pennsylvania         42  ...              394913.0  42103  35620.0
1      Bronx      New York         36  ...              394913.0  36005  35620.0
2      Essex    New Jersey         34  ...              394913.0  34013  35620.0
3      Kings      New York         36  ...              394913.0  36047  35620.0
4      Ocean    New Jersey         34  ...              394913.0  34029  35620.0

[5 rows x 10 columns]

In [ ]:
crosswalk = crosswalk[['FIPS', 'CountyName', 'StateName']]
crosswalk["FIPS"] = crosswalk["FIPS"].astype("int64")
crosswalk.head()

    FIPS CountyName     StateName
0  42103       Pike  Pennsylvania
1  36005      Bronx      New York
2  34013      Essex    New Jersey
3  36047      Kings      New York
4  34029      Ocean    New Jersey

In [ ]:
house_prices = county_time_series.groupby("RegionName").mean()
team_est = house_prices[["ZHVI_AllHomes","ZHVIPerSqft_AllHomes","MedianListingPricePerSqft_AllHomes","MedianRentalPrice_AllHomes"]]
team_est.reset_index(level=0, inplace=True)
team_est.rename(index=str, columns={"RegionName": "FIPS", "ZHVI_AllHomes": "AverageHousePrice"}, inplace=True)
team_est["FIPS"] = team_est["FIPS"].astype("int64")
team_est.dropna(inplace=True)

team_est.head()

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    FIPS  ...  MedianRentalPrice_AllHomes
0   1001  ...                 1255.208333
1   1003  ...                 1165.939759
28  1069  ...                  975.625000
30  1073  ...                  855.860294
33  1081  ...                 1143.887097

[5 rows x 5 columns]

In [ ]:
public_schools.head()

           X          Y  OBJECTID  ...  DISTRICTID FT_TEACHER     SHELTER_ID
0 -81.050895  29.022271      2002  ...     1201920         13  NOT AVAILABLE
1 -92.507288  31.180659      2003  ...     2201290         21  NOT AVAILABLE
2 -69.971880  43.908147      2004  ...     2303780         52  NOT AVAILABLE
3 -89.542799  32.728496      2005  ...     2802520         63  NOT AVAILABLE
4 -94.361775  39.364359      2006  ...     2916450         22  NOT AVAILABLE

[5 rows x 33 columns]

In [ ]:
public_schools_per_county = public_schools['COUNTYFIPS'].value_counts().to_frame()
public_schools_per_county.reset_index(level=0, inplace=True)
public_schools_per_county.rename(index=str, columns={"index": "FIPS", "COUNTYFIPS": "NumberOfSchools"}, inplace=True)
public_schools_per_county["FIPS"] = public_schools_per_county["FIPS"].astype("int64")


public_schools_per_county.head()

    FIPS  NumberOfSchools
0   6037             2277
1  17031             1326
2   4013             1246
3  48201             1125
4   6073              763

In [ ]:
team_est = team_est.merge(crosswalk, on="FIPS")

team_est.head()

   FIPS  AverageHousePrice  ...  MetroRegionID_Zillow  CBSACode
0  1001      114483.665339  ...              394875.0   33860.0
1  1003      164861.685824  ...              394519.0   19300.0
2  1069      114940.996169  ...              394537.0   20020.0
3  1073       99759.770115  ...              394388.0   13820.0
4  1081      148163.218391  ...              394351.0   12220.0

[5 rows x 14 columns]

In [ ]:
team_est = team_est.merge(unemployment_per_county, on="FIPS")
team_est.head()

   FIPS  AverageHousePrice  ...  CBSACode  UnemploymentRate
0  1001      114483.665339  ...   33860.0               3.6
1  1003      164861.685824  ...   19300.0               3.6
2  1069      114940.996169  ...   20020.0               4.1
3  1073       99759.770115  ...   13820.0               3.7
4  1081      148163.218391  ...   12220.0               3.6

[5 rows x 15 columns]

In [ ]:
team_est = team_est.merge(public_schools_per_county, on="FIPS")
team_est.head()

   FIPS  AverageHousePrice  ...  UnemploymentRate  NumberOfSchools
0  1001      114483.665339  ...               3.6               15
1  1003      164861.685824  ...               3.6               47
2  1069      114940.996169  ...               4.1               31
3  1073       99759.770115  ...               3.7              226
4  1081      148163.218391  ...               3.6               37

[5 rows x 16 columns]

In [ ]:
team_est = team_est.merge(hospitals_per_county, on="FIPS")
team_est.head()

   FIPS  AverageHousePrice  ...  NumberOfHospitals  AverageHospitalRating
0  1001      114483.665339  ...                  1                   4.00
1  1003      164861.685824  ...                  4                   3.00
2  1069      114940.996169  ...                  5                   3.50
3  1073       99759.770115  ...                 14                   2.75
4  1081      148163.218391  ...                  1                   4.00

[5 rows x 18 columns]

In [ ]:
team_est = team_est[['FIPS', 'CountyName', 'StateName', 'NumberOfSchools', 'NumberOfHospitals', 'AverageHospitalRating', 'UnemploymentRate',"ZHVIPerSqft_AllHomes", 'AverageHousePrice',"MedianRentalPrice_AllHomes"]]
team_est.head()

   FIPS CountyName  ... AverageHousePrice  MedianRentalPrice_AllHomes
0  1001    Autauga  ...     114483.665339                 1255.208333
1  1003    Baldwin  ...     164861.685824                 1165.939759
2  1069    Houston  ...     114940.996169                  975.625000
3  1073  Jefferson  ...      99759.770115                  855.860294
4  1081        Lee  ...     148163.218391                 1143.887097

[5 rows x 10 columns]

In [ ]:
crime_rate.head()

             county_name  crime_rate_per_100000  ...  FIPS_ST  FIPS_CTY
0     St. Louis city, MO            1791.995377  ...       29       510
1  Crittenden County, AR            1754.914968  ...        5        35
2   Alexander County, IL            1664.700485  ...       17         3
3      Kenedy County, TX            1456.310680  ...       48       261
4     De Soto Parish, LA            1447.402430  ...       22        31

[5 rows x 24 columns]

In [ ]:
crime_rate= crime_rate[["county_name","crime_rate_per_100000","FIPS_ST","FIPS_CTY"]]
crime_rate

                county_name  crime_rate_per_100000  FIPS_ST  FIPS_CTY
0        St. Louis city, MO            1791.995377       29       510
1     Crittenden County, AR            1754.914968        5        35
2      Alexander County, IL            1664.700485       17         3
3         Kenedy County, TX            1456.310680       48       261
4        De Soto Parish, LA            1447.402430       22        31
...                     ...                    ...      ...       ...
3131        Ohio County, IN               0.000000       18       115
3132      Newton County, MS               0.000000       28       101
3133     Jerauld County, SD               0.000000       46        73
3134    Cimarron County, OK               0.000000       40        25
3135    Lawrence County, MS               0.000000       28        77

[3136 rows x 4 columns]

In [ ]:
team_est.to_csv(path_or_buf="\content")